# Introduction to iterators

### Iterando sobre un bucle for

In [3]:
employee = ['Nick', 'Lore', 'Hugo']

In [4]:
for employee in employees:
    print(employee)

Nick
Lore
Hugo

In [5]:
for letter in 'Datacamp':
    print(letter)

D
a
t
a
c
a
m
p

### Utlizando la función iter()

In [8]:
word = 'Da'
it = iter(word)
next(it)

'D'

In [9]:
next(it)

'a'

In [10]:
next() # Cuando el iterador ha entregado su ultimo elemento y solicitamos el prómo elemento - next(), este nos dara typeError

TypeError: next expected at least 1 argument, got 0

In [11]:
# Al igual que con bucle for. Tambien podemos imprimir la totalidad de los valores.

word = 'Data'
it = iter(word)
print(*it)           # El caracter * se denomina operador splat

D a t a

### Iterando sobre diccionarios

In [13]:
pythonistas = {'Hugo': 'Bowne-Anderson', 'Francis': 'Castro'}

for key, value in pythonistas.items():
    print(key, value)

Hugo Bowne-Anderson
Francis Castro

# Playing with iterators

En este capitulo abordaremos dos funciones importantes para manejar el tema de los iteradores:
1. enumerate()  

2. zip()

In [23]:
# enumerate()

avengers = ['howkeye', 'iron man', 'thor', 'quicksilver']

e = enumerate(avengers)  # con start = n. podemos modificar el valor de enumerate()
print(type(e))

<class 'enumerate'>

In [24]:
e_list = list(e)   # Convertimos el objeto enumerate() en una lista para visualizar su contenido

print(e_list)

[(12, 'howkeye'), (13, 'iron man'), (14, 'thor'), (15, 'quicksilver')]

De esta forma se estructura en bucle

In [25]:
avengers = ['howkeye', 'iron man', 'thor', 'quicksilver']

for index, value in enumerate(avengers, start = 20):  # con start = 20. podemos modificar el valor de enumerate()
    print(index, value)

20 howkeye
21 iron man
22 thor
23 quicksilver

In [26]:
# zip()

avengers = ['howkeye', 'iron man', 'thor', 'quicksilver']
names = ['borton', 'stark', 'odinson', 'maximoff']

z = zip(avengers, names)

print(type(z))

<class 'zip'>

In [27]:
z_list = list(z)

print(z_list)  # Convertimos el objeto zip() en una lista para visualizar su contenido

[('howkeye', 'borton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [ ]:
De esta forma se estructura en bucle

In [28]:
for z1, z2 in zip(avengers, names):
    print(z1, z2)

howkeye borton
iron man stark
thor odinson
quicksilver maximoff

De esta forma se imprime todos los elementos del zip()

In [29]:
z = zip(avengers, names)
print(*z)      # El caracter * se denomina operador splat

('howkeye', 'borton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')